body {
width: 100%;
height: 100vh;
margin: 0;
display: flex;
flex-direction: row;
}


.columna-izquierda{
 width: 50%;
height: 100vh;
display: flex;
flex-direction: column;
background-color: #111111;
color: #FFFFFF;
}

.foto1 {
height: 60%;
}

.foto1 img {
width: 100%;
height: 100%;
}

.marca {
height: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0 40px;
}

.marca h1 {
font-size: 40px;
margin: 0;
}

.marca p {
margin: 5px 0;
text-align: justify;
}

.navegacion {
height: 100%;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap: 30px;
padding-right: 40px;
}

.navegacion a {
text-decoration: none;
color: #1A1A1A;
}

.proyectos {
height: 70%;
display: flex;
flex-direction: row;
}

.proyecto {
width: 50%;
height: 100%;
}

.foto2 {
height: 60%;
}

.foto2 img {
width: 100%;
height: 100%;
object-fit: cover;
}

.foto3 {
height: 60%;
}

.foto3 img {
width: 100%;
height: 100%;
object-fit: cover;
}

.pie-pagina {
height: 15%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0 40px;
}